ul
  li
    a#menu(href="/") Home/inicio
  li
    a#menu(href="/mostrardb") Mostrar DB
  li
    a#menu(href="/nuevo") Nuevo registro

  li
    a#menu(href="/edit") Editar registro
  li
    a#menu(href="/borrar") Borrar registro

  li
    a#menu(href="/filtro") Filtro Marca
  li
    a#menu(href="/orden") Ordenar por ID